{% extends "base_map.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="/css/webflow_base.css" />
<link rel="stylesheet" type="text/css" href="/css/ohm/custom.css" />

{% endblock %} {% block body %}

<div id="container" class="container">
  <div id="dashboard-top-spacer">&nbsp;</div>

  <div class="row">
    <div class="col-md-8">
      <div class="twothirds_div">
        <h1>Community Page</h1>
        Welcome to Community Page!
      </div>
    </div>
  </div>
</div>

{% endblock %}
